body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #333;
}

header {
    text-align: center;
    padding: 2em 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    margin: 0.5em 0 0.2em;
    font-size: 2.5em;
    color: #ff5e5b;
    cursor: pointer;
    transition: transform 0.3s;
}

h1:hover {
    transform: scale(1.1);
}

h2 {
    margin: 0.5em 0;
}

p, ul, li {
    margin: 0.5em 0;
}

a {
    color: #ff5e5b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
    background: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 1em;
    padding: 1em;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.project-card h3 {
    margin: 0.5em 0;
}

.project-card p {
    color: #777;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}